RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED_O[0]" SITE "51" ;
LOCATE COMP "LED_O[1]" SITE "52" ;
LOCATE COMP "RED_O" SITE "41" ;
LOCATE COMP "GREEN_O" SITE "42" ;
LOCATE COMP "BLUE_O" SITE "43" ;
LOCATE COMP "PIF_CLK_I" SITE "34" ;
LOCATE COMP "PIF_ADR_I" SITE "36" ;
LOCATE COMP "PIF_DAT_O" SITE "35" ;
LOCATE COMP "PIF_EN_I" SITE "30" ;
LOCATE COMP "SPI_NSS_I" SITE "75" ;
LOCATE COMP "SPI_MOSI_I" SITE "49" ;
LOCATE COMP "SPI_MISO_O" SITE "32" ;
LOCATE COMP "SPI_SCK_I" SITE "31" ;
LOCATE COMP "RC_POR_I" SITE "21" ;
LOCATE COMP "COLD_RESET_O" SITE "28" ;
LOCATE COMP "INT_CPU_O" SITE "59" ;
LOCATE COMP "NMI_CPU_O" SITE "29" ;
LOCATE COMP "RESET_BTN_I" SITE "60" ;
LOCATE COMP "CTRL_O[3]" SITE "54" ;
LOCATE COMP "CTRL_O[2]" SITE "38" ;
LOCATE COMP "CTRL_O[1]" SITE "40" ;
LOCATE COMP "CTRL_O[0]" SITE "47" ;
LOCATE COMP "EEP_DAT_IO" SITE "58" ;
IOBUF PORT "SPI_SCK_I" IO_TYPE=LVCMOS33 CLAMP=ON PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "PIF_ADR_I" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIF_CLK_I" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "PIF_EN_I" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SPI_MOSI_I" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "SPI_NSS_I" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "LED_O[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "LED_O[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "NIRQ_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "SPI_MISO_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "PIF_DAT_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
LOCATE COMP "NIRQ_O" SITE "74" ;
USE PRIMARY NET "SPI_SCK_I_c" ;
BLOCK JTAGPATHS ;
LOCATE COMP "UFM_SN" SITE "48" ;
IOBUF PORT "UFM_SN" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "RC_POR_I" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RESET_BTN_I" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "BLUE_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "COLD_RESET_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "GREEN_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "CTRL_O[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "CTRL_O[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "CTRL_O[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "CTRL_O[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "EEP_DAT_IO" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "INT_CPU_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "NMI_CPU_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RED_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "SCL_IO" SITE "7" ;
LOCATE COMP "SDA_IO" SITE "8" ;
FREQUENCY NET "spi_clk_i" 24.000000 MHz ;
IOBUF PORT "SCL_IO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "SDA_IO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "CTRL_I[0]" SITE "45" ;
LOCATE COMP "CTRL_I[1]" SITE "39" ;
LOCATE COMP "CTRL_I[2]" SITE "37" ;
LOCATE COMP "CTRL_I[3]" SITE "57" ;
IOBUF PORT "CTRL_I[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "CTRL_I[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "CTRL_I[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "CTRL_I[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "EEP_CIC_CLK_O" SITE "19" ;
LOCATE COMP "CIC_DATA_CLK_O" SITE "24" ;
LOCATE COMP "CIC_DATA_IO" SITE "27" ;
IOBUF PORT "CIC_DATA_CLK_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "CIC_DATA_IO" IO_TYPE=LVCMOS33 PULLMODE=UP OPENDRAIN=OFF DRIVE=4 ;
IOBUF PORT "EEP_CIC_CLK_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "JUMPER_I[0]" SITE "64" ;
LOCATE COMP "JUMPER_I[1]" SITE "65" ;
LOCATE COMP "JUMPER_I[2]" SITE "66" ;
LOCATE COMP "JUMPER_I[3]" SITE "67" ;
IOBUF PORT "JUMPER_I[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "JUMPER_I[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "JUMPER_I[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "JUMPER_I[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
SYSCONFIG CONFIGURATION=CFG SDM_PORT=DISABLE I2C_PORT=DISABLE ;
LOCATE COMP "CTRL0_AUX_O" SITE "53" ;
IOBUF PORT "CTRL0_AUX_O" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RESET_BTN_O" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4 OPENDRAIN=ON ;
LOCATE COMP "RESET_BTN_O" SITE "25" ;
